{% load static %}
<div id="myEditSidebar" class="sidebar" style="background-color:#72fa92;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myEditSidebar')">×</a>
  <form>
    <div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-bg-color">Background Color:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="color" id="navbar-bg-color" name="navbar-bg-color" value="#000000">
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-font-color">Font Color:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="color" id="navbar-font-color" name="navbar-font-color" value="#ffffff">
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-font-size">Font Size:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="number" id="navbar-font-size" name="navbar-font-size" min="8" max="48" value="16">
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-padding">Padding:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="number" id="navbar-padding" name="navbar-padding" min="0" max="50" value="10">
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-border-style">Border Style:</label>
        </div>
        <div class="col">
          <select id="navbar-border-style" name="navbar-border-style">
            <option value="none">None</option>
            <option value="solid">Solid</option>
            <option value="dotted">Dotted</option>
            <option value="dashed">Dashed</option>
          </select>
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-border-width">Border Width:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="number" id="navbar-border-width" name="navbar-border-width" min="0" max="10" value="1">
        </div>
      </div>
      <div class="row"><hr></div>
      <div class="row row-cols-2">
        <div class="col">
          <label for="navbar-border-color">Border Color:</label>
        </div>
        <div class="col">
          <input class="pos-from-left" type="color" id="navbar-border-color" name="navbar-border-color" value="#ffffff">
        </div>
        <div class="row"><hr></div>
        <button class="btn btn-success" type="submit" style="height: 40px;">submit</button>
      </div>
  </form>
</div>