{% load static %}
<div id="myElementSidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myElementSidebar')">×</a>
  <ul>
    <li>
        <div id="left"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/hed.png' %}" alt="Fjords" >
              <div class="caption">
                <p>header</p>
              </div>
            </div>
          </button>
        </div>

        <div id="right"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/pincrow.png' %}" alt="Fjords" >
              <div class="caption">
                <p>text</p>
              </div>
            </div>
          </button>
        </div>
    </li>
    <li>
        <div id="left"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/navbar.png' %}" alt="Fjords" >
              <div class="caption">
                <p>navbar</p>
              </div>
            </div>
          </button>
        </div>

        <div id="right"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/jumbotron.png' %}" alt="Fjords" >
              <div class="caption">
                <p>jumbotron</p>
              </div>
            </div>
          </button>
        </div>
    </li>
    <li>
        <div id="left"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/imglogo.png' %}" alt="Fjords" >
              <div class="caption">
                <p>image</p>
              </div>
            </div>
          </button>
        </div>

        <div id="right"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/video.png' %}" alt="Fjords" >
              <div class="caption">
                <p>video</p>
              </div>
            </div>
          </button>
        </div>
    </li>

    <li>
      
        <div id="left"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/hed.png' %}" alt="Fjords" >
              <div class="caption">
                <p>header</p>
              </div>
            </div>
          </button>
        </div>

        <div id="right"><button onclick="header(1)">
            <div class="thumbnail">
              <img src="{% static 'img/pincrow.png' %}" alt="Fjords" >
              <div class="caption">
                <p>text</p>
              </div>
            </div>
          </button>
        </div>
    </li>
  </ul>
</div>