<div id="main">
	<!-- <iframe id="thisframe" src="http://127.0.0.1:8000/mysite" width="100%" height="500px"></iframe> -->
	<div style="width:100%; height:500px;" >
		{% include 'main.html' %}
	</div>
	<!-- 
	<h1>JavaScript Includes Example</h1>

	<div id="container" style="width: 100%;height: 500px;border:1px solid black;">
		 The contents of filename.html will be inserted here"
	</div> -->

	<!-- <script>
		var xhr = new XMLHttpRequest();
		xhr.open('GET', 'C:\TECHVARAHA\page_builder-main\builder\templates\commons\iframeContent.html', true);
		xhr.onreadystatechange = function() {
		  if (this.readyState === 4 && this.status === 200) {
		    document.getElementById('container').innerHTML = this.responseText;
		  }
		};
		xhr.send();
	</script> -->

</div>