<form>
    
    <label for="navbar-bg-color">Background Color:</label>
    <input type="color" id="navbar-bg-color" name="navbar-bg-color" value="#000000"><br>
        
    
    <label for="navbar-font-color">Font Color:</label>
    <input type="color" id="navbar-font-color" name="navbar-font-color" value="#ffffff"><br>

    <label for="navbar-font-size">Font Size:</label>
    <input type="number" id="navbar-font-size" name="navbar-font-size" min="8" max="48" value="16"><br>

    <label for="navbar-padding">Padding:</label>
    <input type="number" id="navbar-padding" name="navbar-padding" min="0" max="50" value="10"><br>

    <label for="navbar-border-style">Border Style:</label>
    <select id="navbar-border-style" name="navbar-border-style">
      <option value="none">None</option>
      <option value="solid">Solid</option>
      <option value="dotted">Dotted</option>
      <option value="dashed">Dashed</option>
    </select><br>

    <label for="navbar-border-width">Border Width:</label>
    <input type="number" id="navbar-border-width" name="navbar-border-width" min="0" max="10" value="1"><br>

    <label for="navbar-border-color">Border Color:</label>
    <input type="color" id="navbar-border-color" name="navbar-border-color" value="#ffffff"><br>

    <input type="submit" value="Submit">


  </form>
  