<nav class="navbar navbar-light fixed-top" style="background-color: #d5e1ff;">
    <form class="form-inline" >
        
     <button class="btn btn-success btn1 " type="button" onclick="openNav('myEditSidebar')">edit</button>
        <button class="btn btn-info btn1" type="button" onclick="openNav('myElementSidebar')">element</button>
        <button class="btn btn-danger btn1" type="button">layout</button>
      </form>   
      <button class="btn btn-warning " type="button" style ="float: right;";"><> code</button>
  </nav>